@font-face {
	font-family: 'MPlantin';
	src: url( 'ext/Mana/fonts/mplantin.eot' );
	src: url( 'ext/Mana/fonts/mplantin.woff' ) format( 'woff' ),
	     url( 'ext/Mana/fonts/mplantin.ttf' ) format( 'truetype' ),
	     url( 'ext/Mana/fonts/mplantin.svg' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sharetech mono';
	src: url( 'ext/fonts/sharetechmono/ShareTechMono-Regular.ttf' ) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Beleren';
	src: url( 'ext/fonts/Beleren/JaceBeleren-Bold.ttf' ) format('truetype');
	font-weight: normal;
	font-style: normal;
}

.card .contents {
	display: flex;

	justify-content: center;
	align-items: center;
	position: relative;

	width: 59mm; /* 63 - border*2 = 63 - 2*2 = 59 */
	height: 84mm; /* 88 - border*2 = 88 - 2*2 = 84 */
	/*border: 2mm;*/
	border: 1pt;
	border-style: solid;
	border-radius: 3mm;
	overflow: auto;

	margin: 2pt;
}

div.card {
	display: inline-block;
}

div.name {
	font-family: 'Beleren';
	font-size: 120%;
	text-align: center;

	position: absolute;
	top: 2%;
}

div.description
{
	font-family: 'sharetech mono';
	font-size: 2.2mm;
	/*float: right;*/

	position: absolute;
	bottom: 2%;
}

div.container
{
	display: inline;
}